@model DynamicMenu.API.DTOs.CreateMenuItemDto
@{
    ViewBag.Title = "Menu Item Insert";
}

<div class="form-container">
    <form data-form="main" data-formType="ajax" method="post" action="/MenuItem/Insert" class="needs-validation" novalidate>

        @Html.DropDownFor(a => a.MenuGroupId, "Menü Group ID", "/MenuGroup/GetAll", "Lütfen Menü Group ID seçin")

        @Html.DropDownFor(a => a.MenuId, "Menü ID", "/Menu/GetAll", "Lütfen Menü ID seçin")

        @Html.DropDownFor(a => a.MenuBaseItemId, "Menü Base Item ID", "/MenuBaseItem/GetAllData", "Lütfen Menü Base Item ID seçin", null, "item.Text + ' | ' + item.TextEn")

        <div class="mb-3">
            <label for="Keyword" class="form-label">Keyword</label>
            @Html.TextBoxFor(a => a.Keyword, null, new Dictionary<string, object> { { "class", "form-control" }, { "required", "required" } })
            <div class="invalid-feedback">Boş bırakılamaz</div>
        </div>

        <div class="mb-3">
            <label for="Pid" class="form-label">Pid</label>
            @Html.TextBoxFor(a => a.Pid, null, new Dictionary<string, object> { { "class", "form-control" } })
        </div>

        <div class="mb-3 form-check">
            <label for="IsNew" class="form-check-label">IsNew</label>
            @Html.CheckBoxFor(a => a.IsNew, new Dictionary<string, object> { { "class", "form-check-input" } })
        </div>
@* 
        @* <div class="mb-3">
            <label for="TextEn" class="form-label">Text En</label>
            @Html.TextBoxFor(a => a.TextEn, null, new Dictionary<string, object> { { "class", "form-control" }, { "required", "required" } })
            <div class="invalid-feedback">Boş bırakılamaz</div>
        </div>

        <div class="mb-3">
            <label for="IconPath" class="form-label">Icon Path</label>
            <div class="input-group">
                @Html.TextBoxFor(a => a.IconPath, null, new Dictionary<string, object> { { "class", "form-control" }, { "required", "required" } })
                <span class="input-group-text">
                    <img data-task="iconDisplay" class="iconDisplay" src="/img/icons/Uygulama_Turu.svg" />
                </span>
                <span class="input-group-text">
                    <a href="#" data-task="iconSearch" class="iconSearch btn btn-sm" onclick="GetMenuIcons()"><i class="fa fa-search"></i> </a>
                </span>
                <div class="invalid-feedback">Boş bırakılamaz</div>
            </div>
        </div> *@

        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary">Vazgeç</button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>

    </form>
</div>